<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sola.github.kotlin.tonight"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.sola.github.kotlin.tonight.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sola.github.kotlin.tonight.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ClubDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.EmptyActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>